@page "/"

<PageTitle>Home</PageTitle>


<h1>Bem-vindo ao Gerenciador de Tarefas!</h1>

<p>Este projeto está sendo desenvolvido com as seguintes ferramentas:</p>

<ul>
    <li><strong>Linguagem de Programação:</strong> C#</li>
    <li><strong>Framework:</strong> Blazor</li>
    <li><strong>IDE:</strong> Visual Studio 2022</li>
</ul>