@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
            <!-- Nome do Usuário -->
            <span class="user-name">@UserName</span>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>


@code {
    // Propriedade para armazenar o nome do usuário
    public string UserName { get; set; } = "Usuário";

    // Método para atualizar o nome do usuário após login
    public void UpdateUserName(string login)
    {
        UserName = login;
        StateHasChanged(); // Atualiza a página para refletir a mudança
    }
}

